.echarts_box {    
    box-shadow: inset 0 0 16px 0 rgba(18, 184, 232, 0.8);
}

.statistics_wrap .el-progress /deep/ path:first-child {
    stroke: #133868;
} 

.echarts_box2 {
    border:1px solid rgba(53, 145, 255, 0.8);
    box-shadow: inset 0 0 16px 0 rgba(53, 145, 255, 0.8);
}


.headline {
    display: flex;
    color: #fff;
    .title {
        padding: 8px 15px;
        display: inline-block;
        font-size: 12px;
        box-shadow: inset 0 0 10px 0 rgba(53, 145, 255, .8);
        border: 1px solid #3591ff80;
    }
}

.numberWrap {
    height: 50px;
    display: flex;
    justify-content: space-between;
    .type {
        display: flex;
        height: 100%;
        background: url(/img/bigScreen/15.png);
        font-size: 32px;
        align-items: center;
        background-size: 100% 100%;
        justify-content: center;
        border-radius: 4px;
        color: #15FEFE;
        text-shadow: 0 0 25px #15FEFE;
        text-align: center;
        font-family: yjsz
    }
    .type1 {
        width: 9%;
    }
    .type2 {
        width: 15%;
    }
    .type3{
        width: 19%;
    }    
}


.title1{
    padding-top:10px;
    width: 100%;
    .bgTitle{width: 100%;position: absolute;}
    .titleWord{color: #66E4FF;font-size: 16px;text-align: center;font-size: 14px;}
}

.title2{
    display: flex;align-items: center;justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    .bgTitle{width: 100%;position: absolute;}
    .titleWord{color: #66E4FF;font-size: 16px;position: absolute;width: 100%;text-align: center;padding-top: 10px;}
}

.screen_wrap{
    width: 100%;height: 100%;position: relative;border:1px solid #12B8E8;
     *{box-sizing: border-box;}
}

.screen_wrap2{width: 100%;height: 100%;position: relative;padding-top: 13px;display: flex;flex-direction: column;
  *{box-sizing: border-box;}
}

.wrap2body{width: 100%;flex:1;position: relative;border:1px solid #12B8E8;border-top: none;}


.flex_wrap{display: flex;flex-direction: column;}
.flex_body {
    flex: 1;
}