$system_wrap_top: 10px;

$common_margin_right: 10px;

$common_margin_input_bottom: 10px;

$tree_fontSize: 12px;

$el-card_body_padding: 10px;

$avue-view_padding_leftAndright: 5px;

$avue-tabel-menu-btn_margin_bottom: 2px; // 按钮本身有8PX 所以只能 2PX

$custom-index-color: #666; //空气智能首页白底字体颜色

$colorGreen: rgb(0,228,0); //空气质量指数类别颜色 优
$colorYellow: rgb(255,255,0); //空气质量指数类别颜色 良
$colorOrange: rgb(255,126,0); //空气质量指数类别颜色 轻度
$colorRed: #ff0000; //空气质量指数类别颜色 中度
$colorPurple: rgb(153,0,76); //空气质量指数类别颜色 重度
$colorBrown: rgb(126,0,35); //空气质量指数类别颜色 严重
